doctype html
html
    head
        title Pagina no encontrada
        meta(charset="utf-8")
        link(rel="stylesheet" href="main.css")

    body
        main
            h1 

            a(href="/") Regresar a los perros 

            h2 no tenemos a la raza '#{texto}' en nuestra página